@import "tailwindcss";

@theme {
  --font-vt323: "VT323", monospace;

  --color-primary-100: hsla(120, 100%, 5%, 1);
  --color-primary-200: hsla(120, 100%, 7%, 1);
  --color-primary-300: hsla(120, 100%, 10%, 1);
  --color-primary-400: hsla(120, 100%, 13%, 1);
  --color-primary-600: hsla(120, 100%, 30%, 1);

  --color-accent-90: hsla(120, 100%, 45%, 1);
  --color-accent-100: hsla(120, 100%, 50%, 1);
  --color-accent-200: hsla(120, 100%, 90%, 1);
}

@layer base {
  body {
    font-family: var(--font-vt323);

    background-color: var(--color-primary-100);
  }
}
